
/*
@import url('https://iosevka-webfonts.github.io/iosevka-fixed/iosevka-fixed.css');
@import url('https://cdn.jsdelivr.net/npm/iosevka@16.0.0/dist/iosevka.css');
@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');
@font-face {
    font-family: 'IosevkaTermSlab Nerd Font';
    src: url('_static/IosevkaTermSlabNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'Iosevka', 'Iosevka Fixed Web','Iosevka Web', "IosevkaTerm Nerd Font", "IosevkaTermSlab Nerd Font", 'DejaVu Sans Mono' , monospace;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "IosevkaTerm Nerd Font", "IosevkaTermSlab Nerd Font", 'Iosevka', 'Iosevka Fixed Web', 'Iosevka Web', "IosevkaTerm Nerd Font", "IosevkaTermSlab Nerd Font",'DejaVu Sans Mono',monospace;
}

code, span, pre {
    font-family: "IosevkaTerm Nerd Font Mono", "IosevkaTermSlab Nerd Font Mono", 'Iosevka', 'Iosevka Fixed Web','Iosevka Web', "IosevkaTerm Nerd Font", "IosevkaTermSlab Nerd Font", 'DejaVu Sans Mono', monospace;
}
 */